*{
    padding: 0px;
    margin: 0px;
}
.outer{
    width: 700px;
    height: 800px;
    margin: 0px auto;
}
.outer h1{
    text-align: center;
}
p{
    font-size: 20px;
}
.border{
    width: auto;
    padding: 5px;
    background-color: rgb(125, 210, 243);
    border: 1px solid black;
    font-weight: bold;
}
ul{
    font-size: 20px;
    margin-left: 50px;
}
h2{
    float: right;
}